<!DOCTYPE html>
<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Gold_Cup_icon.svg/1200px-Gold_Cup_icon.svg.png">
<html>

<head>
  <meta charset="utf-8">
  <title>Doppelkopf Stats</title>
  <style>
    .row {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: left;
    }

    .Image {
      display: inline-block;
    }

    @media (prefers-color-scheme: dark) {
      body {
        color: white;
        background: black;
      }
    }
    @media (prefers-color-scheme: light) {
      body {
        color: black;
        background: white;
      }
    }
  </style>
</head>

<body>

  <h1>Doppelkopf Stats</h1>

  {% for row in rows %}
  {% if row.heading is defined %}
  <h2>{{ row.heading }}</h2>
  {% endif %}
  {% if row.open is defined and row.open %}
  <details open="">
  {% else %}
  <details>
  {% endif %}
    <summary>{{ row.summary }}</summary>
    <div class="row">
      <div>
        <pre>
        {{ row.stats }}
        </pre>
      </div>
      <div>
        {% for plot in row.plots %}
        <div class="Image"><img src="{{ plot }}.png" /></div>
        {% endfor %}
      </div>
    </div>
  </details>
  {% endfor %}

  <h2>Individual Highscores</h2>
  {% for cat in highscoreRows["indiv"].values() %}
  <details>
    <summary>{{ cat["summary"] }}</summary>
    {% for file in cat["plots"] %}
      <div class="Image"><img src="{{ file }}.png"></div>
    {% endfor %}
  </details>
  {% endfor %}

  <h2>Team Highscores</h2>
  {% for cat in highscoreRows["team"].values() %}
  <details>
    <summary>{{ cat["summary"] }}</summary>
    {% for file in cat["plots"] %}
      <div class="Image"><img src="{{ file }}.png"></div>
    {% endfor %}
  </details>
  {% endfor %}

</body>

</html>
